@import "../variables.scss";

.loader {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &.inline {
    height: auto;
  }

  svg {
    font-size: 50px;
    color: $red;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}
