form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  margin-bottom: 1em;

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    span {
      color: #888;
      text-transform: uppercase;
      font-size: 0.75em;
    }

    input {
      width: 100%;
      background-color: none;
      border: none;
      border-bottom: 1px solid #ccc;
      padding: 0.5em 0 0.5em;
    }
  }
}
