@import "../variables.scss";

main {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  h1 {
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    margin: 0 0 0.5em 0;

    @media (max-width: $max-width/2) {
      font-size: 30px;
    }
  }
}
