@import "../variables.scss";

footer {
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;

    @media (max-width: $max-width/2) {
      flex-direction: column;
      text-align: center;
    }

    li {
      margin: 0 0.25em;

      a {
        color: $red;

        &:link,
        &:visited,
        &:hover {
          color: $red;
        }
      }
    }
  }
}
