@import "../variables.scss";

.message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &.error {
    color: $red;
  }

  &.success {
    color: $green;
  }
}
